.wrapper-login {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-135deg, #97bffb, #c51e1e);

  .wrapper-login-image {
    background: url('../../assets/images/henry.png') no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
  }

  &-box {
    width: 960px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 140px 50px 33px 50px;
  }
  .login-texto {
    text-align: left;
    color: #555;
    padding-bottom: 10px;
    .login-texto-destaque {
      font-size: 2.5rem;
    }
  }
}
